<div class="auth-fluid bg-image-lp">

	<%= render "layouts/lp_image_content" %>


	<!--Auth fluid left content -->
	<div class="auth-fluid-form-box">
		<div class="align-items-center d-flex h-100">
			<div class="card-body">
					<!-- title-->
					<h2 class="mt-0">Sign Up</h2>
					<p class="text-muted mb-4">Create an account to start tracking your job applications.</p>
					<!-- form --><%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %><%= render "devise/shared/error_messages", resource: resource %>
					<div class="form-group"><%= f.label :email %>
						<br /><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email" %>
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
					<div class="from-group"><%= f.label :password %><% if @minimum_password_length %>
						<em>(<%= @minimum_password_length %> characters minimum)
						</em><% end %>
						<br /><%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter Password" %>
					</div>
					<br />
					<div class="form-group"><%= f.label :password_confirmation %>
						<br /><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
					</div>
						<div class="actions"><%= f.submit "Create account", class: "btn btn-itmeo" %>
						</div><% end %>
						<br />
						<!-- end form--><%= render "devise/shared/links" %>
						<%= render "layouts/lpfooter" %>
					</div>
					<!-- end .card-body -->
				</div>
				<!-- end .align-items-center.d-flex.h-100-->
			</div>
			<!-- end auth-fluid-form-box-->
			<!-- Auth fluid right content -->
		</div>
		<!-- end Auth fluid right content -->
	</div>
	<!-- end auth-fluid-->