<!-- beginning modal -->
<div id="edit-job-details-modal" class="modal fade" tabindex="-1" role="dialog" style="display: none;"
aria-hidden="true">
 <div class="modal-dialog">
	 <div class="modal-content">
		 <div class="card-black-form">
			 <!-- Title -->
			 <div class="card-black-form-header pt-4 pb-4 text-center">
				 <h4 style="color:white">Edit Job details</h4>
			 </div>
			 <!-- End title -->
			 <div class="p-4">
				 <%= form_tag url_for(action: 'update_job_details'), method: "put", remote: true do %>
				 <div class="form-group">
					 <%= label_tag 'Link to job offer' %>
					 <br />
					 <%= url_field_tag :joboffer_link, @application.joboffer_link, class: 'form-control', placeholder: 'Enter link' %>
				 </div>

				 <div class="form-group">
					 <%= label_tag 'Job offer description' %>
					 <br />
					 <%= text_area_tag :joboffer_description, simple_format(@application.joboffer_description), class: 'form-control', placeholder: 'Enter a description or copy-paste the job offer', size: "20x10"  %>
				 </div>
				 <div class="form-group text-center">
					 <%= submit_tag "Edit job details", class:"btn btn-itmeo mt-3" %>
				 </div>
				 <% end %>
			 </div>
			 <!-- end card-body -->
		 </div>
	 </div>
	 <!-- /.modal-content -->
 </div>
 <!-- /.modal-dialog -->
</div>
<!--end modal -->