<!-- Begin page -->
<div class="wrapper">

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">


      <!-- Start Content-->
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">
            <div>
              <div class="tasks" data-plugin="dragula" data-containers='["task-list-one", "task-list-two", "task-list-three", "task-list-four"]'>
                <h5 class="mt-0 task-header">Next Steps coming soon</h5>

                <div id="task-list-one">

                  <!-- Task Item -->
                  <% @applications.each do |application| %>
                    <% application.steps.each do |step| %>
                      <% if step.date < DateTime.now + 14 %>
                      
                        <div class="card mb-0">
                          <div class="card-body p-3">
                            <small class="float-right text-muted"><%= step.date %></small>
                            <span class="badge badge-danger">
                              <% categories = [] %>
                              <% application.steps.each do |step| %>
                              <% categories << step.category %>
                              <% end %>
                              <%= categories.last %>
                            </span>

                            <h5 class="mt-2 mb-2">
                              <a href="#" data-toggle="modal" data-target="#task-detail-modal" class="text-body"><%= application.company_name %></a>
                              <%= link_to application.company_name, application_path(application), class: "text-body", data-toggle: "modal", data-target: "#task-detail-modal" %>
                            </h5>
                  
                          </div> <!-- end card-body -->
                        </div>
                        
                      <% end %>
                    <% end %>
                  <% end %>
                  <!-- Task Item End -->

                </div> <!-- end company-list-1-->
              </div>

              <div class="tasks">
                <h5 class="mt-0 task-header text-uppercase">Identified ( <%= @identified.length %> )</h5>

                <div id="task-list-two" class="task-list-items">

                  <!-- Task Item -->
                  <% @applications.each do |application| %>
                  <% if application.status == "identified" %>
                  <div class="card mb-0">
                    <div class="card-body p-3">
                      <small class="float-right text-muted">
                        <% dates = [] %>
                        <% application.steps.each do |step| %>
                        <% dates << step.date %>
                        <% end %>
                        <%= dates.last %>
                      </small>
                      <span class="badge badge-secondary">
                        <% categories = [] %>
                        <% application.steps.each do |step| %>
                        <% categories << step.category %>
                        <% end %>
                        <%= categories.last %>
                      </span>

                      <h5 class="mt-2 mb-2">
                        <a href="#" data-toggle="modal" data-target="#task-detail-modal" class="text-body">
                          <%= application.company_name %></a>
                      </h5>

                      <p class="mb-0">
                        <span class="align-middle">
                          <%= application.position %></span>
                      </p>
                    </div> <!-- end card-body -->
                  </div>
                  <% end %>
                  <% end %>
                  <!-- Task Item End -->


                </div> <!-- end company-list-2-->
              </div>


              <div class="tasks">
                <h5 class="mt-0 task-header text-uppercase">Applied (
                  <%= @applied.length %> )</h5>
                <div id="task-list-three" class="task-list-items">

                  <!-- Task Item -->
                  <% @applications.each do |application| %>
                  <% if application.status == "applied" %>
                  <div class="card mb-0">
                    <div class="card-body p-3">
                      <small class="float-right text-muted">
                        <% dates = [] %>
                        <% application.steps.each do |step| %>
                        <% dates << step.date %>
                        <% end %>
                        <%= dates.last %>
                      </small>
                      <span class="badge badge-danger">
                        <% categories = [] %>
                        <% application.steps.each do |step| %>
                        <% categories << step.category %>
                        <% end %>
                        <%= categories.last %>
                      </span>

                      <h5 class="mt-2 mb-2">
                        <a href="#" data-toggle="modal" data-target="#task-detail-modal" class="text-body">
                          <%= application.company_name %></a>
                      </h5>

                      <p class="mb-0">
                        <span class="pr-2 text-nowrap mb-2 d-inline-block">
                          <%= application.position %></span>
                      </p>

                    </div> <!-- end card-body -->
                  </div>
                  <% end %>
                  <% end %>
                  <!-- Task Item End -->

                </div> <!-- end company-list-3-->
              </div>

              <div class="tasks">
                <h5 class="mt-0 task-header text-uppercase">In progress (
                  <%= @in_progress.length %> )</h5>
                <div id="task-list-four" class="task-list-items">

                  <!-- Task Item -->
                  <% @applications.each do |application| %>
                  <% if application.status == "in_progress" %>
                  <div class="card mb-0">
                    <div class="card-body p-3">
                      <small class="float-right text-muted">
                        <% dates = [] %>
                        <% application.steps.each do |step| %>
                        <% dates << step.date %>
                        <% end %>
                        <%= dates.last %>
                      </small>
                      <span class="badge badge-success">
                        <% categories = [] %>
                        <% application.steps.each do |step| %>
                        <% categories << step.category %>
                        <% end %>
                        <%= categories.last %>
                      </span>

                      <h5 class="mt-2 mb-2">
                        <a href="#" data-toggle="modal" data-target="#task-detail-modal" class="text-body">
                          <%= application.company_name %></a>
                      </h5>

                      <p class="mb-0">
                        <span class="pr-2 text-nowrap mb-2 d-inline-block">
                          <%= application.position %>
                        </span>
                      </p>

                    </div> <!-- end card-body -->
                  </div>
                  <% end %>
                  <% end %>
                  <!-- Task Item End -->

                </div> <!-- end company-list-4-->
              </div>

            </div> <!-- end .board-->
          </div> <!-- end col -->
        </div>
        <!-- end row-->

      </div> <!-- container -->

    </div> <!-- content -->

  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->


</div>