<!-- Begin page -->
<div class="wrapper">

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">



      <!-- Start Content-->
      <div class="container-fluid">


        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <h2 class="text-center display-5 index-title text-transparent-black">MY APPLICATION BOARD</h2>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12 text-center">
            <div>


            <!----- NEXT STEPS --->

              <!-----END NEXT STEPS --->


              <!-----NEXT STEPS --->
              <div class="tasks mr-4">
                <h5 class="mt-0 task-header text-uppercase text-left bg-transparentblack">
                    <span>MY NEXT STEPS <br> <small>What's on your agenda?</small> </span>
                    </h5>
                <div id="task-list-one" class="task-list-items">

                  <%if @next_steps.count == 0%>
                  <div class="card-body p-3">
                    <a class = "text-white"> Nothing on your agenda! <br> When you plan an interview, don't forget to 'add step' in the corresponding application.</a>
                    </div>
                  <%end%>

                <% @next_steps.each do |next_step| %> <!-- Starts Next Steps Cards Loop -->

                  <div class="card mb-0"> <!-- Start card -->
                    <div class="card-body p-3"> <!-- Start card body -->


                      <h5 class="mt-2 mb-2 next-step">
                        <%= link_to next_step.application.company_name, application_path(next_step.application), class: "text-body break-word", toggle: "modal" %>
                      </h5>

                      <span class="badge <%= 'badge-success' if next_step.category == 'interview' %>
                      <%= 'badge-warning' if next_step.category == 'phone interview' %><%= 'badge-info' if next_step.category == 'follow-up' %>">
                        <%= next_step.category %>
                      </span>
                      
                      <small class="float-right badge <%= 'badge-success-lighten' if next_step.category == 'interview' %><%= 'badge-warning-lighten' if next_step.category == 'phone interview' %><%= 'badge-info-lighten' if next_step.category == 'follow-up' %>">
                        <% unless next_step.date == nil %>
                        <%= next_step.date.strftime '%a %m/%d' %>
                        <% end %>
                      </small>     

                    </div> <!-- End card-body -->
            
                  </div> <!-- End card -->

                  <% end %> <!-- End Next Steps Cards Loop -->


                </div> <!-- end company-list-2-->
              </div>
              <!-----END NEXT STEPS --->




              <!-----IDENTIFIED --->
              <div class="tasks mr-1">
                <h5 class="mt-0 task-header text-left text-uppercase">
                    <span>IDENTIFIED (<%= @identified.length %>) <br> <small>Time to send application!</small> </span>
                    <span><button type="button" class="btn btn-itmeo m-0" data-toggle="modal" data-target="#new-modal-identified"><i class="fas fa-plus"></i></button></span>
                </h5>
                <div id="task-list-two" class="task-list-items">

                  <%if @identified.count == 0%>
                  <div class="card-body p-3">
                    <a class = "text-white"> No identified job opportunity! <br> You may want to check offers on your favourite job boards and 'Add' the most interesting here.</a>
                    </div>
                  <%end%>

                  <!-- Task Item -->
                  <% @identified.each do |application| %>
                  <div class="card mb-0">
                    <div class="card-body p-0">

                      <h5 class="mt-2 mb-2">
                        <%= link_to application.company_name, application_path(application), class: "text-body", toggle: "modal" %>
                      </h5>

                      <p class="mb-0">
                        <span class="pr-2 mb-2 d-inline-block">
                          <%= application.jobtitle %></span>
                      </p>
                    </div> <!-- end card-body -->
                  </div>
                  <% end %>
                  <!-- Task Item End -->


                </div> <!-- end company-list-2-->
              </div>
              <!-----END IDENTIFIED --->



              <!-----SORTABLE --->
              <div class="tasks mr-1">
                <h5 class="mt-0 task-header text-left text-uppercase">
                    <span>TEST SORTABLE 1 </span>
                    <span><button type="button" class="btn btn-itmeo m-0" data-toggle="modal" data-target="#new-modal-identified"><i class="fas fa-plus"></i></button></span>
                </h5>
                <div id="sortable-test-1" class="task-list-items">

                  <div class="card mb-0">
                  TEST 1 
                  </div>
                  <div class="card mb-0">
                  TEST 2 
                  </div>
                  <!-- Task Item End -->
                </div> <!-- end company-list-2-->
              </div>

                <div class="tasks mr-1">
                <h5 class="mt-0 task-header text-left text-uppercase">
                    <span>TEST SORTABLE 2 </span>
                    <span><button type="button" class="btn btn-itmeo m-0" data-toggle="modal" data-target="#new-modal-identified"><i class="fas fa-plus"></i></button></span>
                </h5>
                <div id="task-list-two" class="task-list-items">

                  <div class="card mb-0">
                  TEST 1 
                  </div>
                  <div class="card mb-0">
                  TEST 2 
                  </div>
                  <!-- Task Item End -->
                </div> <!-- end company-list-2-->
              </div>
              <!-----END SORTABLE --->



              <!-----START APPLIED --->
              <div class="tasks mr-1">
                <h5 class="mt-0 task-header text-uppercase text-left">
                  <span>Applied (<%= @applied.length %>) <br> <small>Waiting for a call.</small> </span>
                  <span><button type="button" class="btn btn-itmeo button-header-3" data-toggle="modal" data-target="#new-modal-applied"><i class="fas fa-plus"></i></button></span>
                </h5>

                <div id="task-list-three" class="task-list-items">

                  <%if @applied.count == 0%>
                  <div class="card-body p-3">
                    <a class = "text-white"> You haven't applied to any offer. <br> Check applications on the 'identified' column and kick your ass ;).</a>
                    </div>
                  <%end%>

                  <!-- Task Item -->
                  <% @applied.each do |application| %>
                  <div class="card mb-0">
                    <div class="card-body p-0">

                      <h5 class="mt-2 mb-2">
                        <%= link_to application.company_name, application_path(application), class: "text-body", toggle: "modal" %>
                      </h5>

                      <p class="mb-0">
                        <span class="pr-2 mb-2 d-inline-block">
                          <%= application.jobtitle %></span>
                      </p>

                    </div> <!-- end card-body -->
                  </div>
                  <% end %>
                  <!-- Task Item End -->

                </div> <!-- end company-list-3-->
              </div>

              <!-----END APPLIED --->



              <!-----START IN PROGRESS --->

              <div class="tasks">
                <h5 class="mt-0 task-header text-uppercase text-left">
                  <span>In Progress (<%= @in_progress.length %>)<br> <small>Your running processes.</small></span>
                  <span><button type="button" class="btn btn-itmeo button-header-4" data-toggle="modal" data-target="#new-modal-in_progress"><i class="fas fa-plus"></i></button></span>
                </h5>
                <div id="task-list-four" class="task-list-items">

                  <%if @in_progress.count == 0%>
                  <div class="card-body p-3">
                    <a class = "text-white"> No running processes. <br> It may be time to identify new opportunities.</a>
                    </div>
                  <%end%>

                  <!-- Task Item -->
                  <% @in_progress.each do |application| %>
                  <div class="card mb-0">
                    <div class="card-body p-0">

                      <h5 class="mt-2 mb-2">
                        <%= link_to application.company_name, application_path(application), class: "text-body", toggle: "modal" %>
                      </h5>

                      <p class="mb-0">
                        <span class="pr-2 mb-2 d-inline-block">
                          <%= application.jobtitle %></span>
                      </p>

                    </div> <!-- end card-body -->
                  </div>
                  <% end %>

                  <!-- Task Item End -->

                </div> <!-- end company-list-4-->
              </div>
              <!-----END IN PROGRESS --->

            </div> <!-- end .board-->
          </div> <!-- end col -->
        </div>
        <!-- end row-->

      </div> <!-- container -->

    </div> <!-- content -->


  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->


</div>



<!-- beginning modal -->
<div id="new-modal-identified" class="modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="card-black-form">
              <!-- Title -->
              <div class="card-black-form-header pt-4 pb-4 text-center">
                <h4 style="color:white">Add Application</h4>
              </div>
              <!-- End Title -->

              <div class="p-4">
                  
                  <%= form_tag url_for(action: 'create'), method: "post" do %>
                  <div class="form-group">
                      <%= label_tag 'Company *' %><br />
                      <%= text_field_tag :company_name, "", class: 'form-control', placeholder: 'Enter company name', required: true %>
                  </div>
                  <div class="form-group">
                      <%= label_tag 'Job title *' %><br />
                      <%= text_field_tag :jobtitle, "", class: 'form-control', placeholder: 'Enter job title', required: true %>
                  </div>
                  <div class="form-group hidden-form">
                      <%= label_tag 'Status *' %><br />
                      <%= text_field_tag :status, "identified", class: 'form-control' %>
                  </div>
                  <div class="form-group">
                      <%= label_tag 'Link to job offer' %><br />
                      <%= url_field_tag :joboffer_link, "", class: 'form-control', placeholder: 'Enter link' %>
                  </div>
                  <div class="form-group">
                      <%= label_tag 'Job offer description' %><br />
                      <%= text_area_tag :joboffer_description, "", class: 'form-control', placeholder: 'Enter a description or copy-paste the job offer', size: "20x3"  %>
                  </div>
                  <div class="form-group text-center">
                      <%= label_tag '' %><br />
                      <%= submit_tag "Confirm", class:"btn btn-itmeo mt-3" %>
                  </div>
                  <% end %>
              </div> <!-- end card-body -->
          </div>
          <!-- end card-body -->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!--end modal -->
  <!-- beginning modal -->
<div id="new-modal-applied" class="modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="card-black-form">
              <!-- Title -->
              <div class="card-black-form-header pt-4 pb-4 text-center">
                <h4 style="color:white">Add Application</h4>
              </div>
              <!-- End Title -->

              <div class="card-body p-4">

                  <%= form_tag url_for(action: 'create'), method: "post" do %>
                  <div class="form-group">
                      <%= label_tag 'Company *' %><br />
                      <%= text_field_tag :company_name, "", class: 'form-control', placeholder: 'Enter company name' %>
                  </div>
                  <div class="form-group">
                      <%= label_tag 'Job title *' %><br />
                      <%= text_field_tag :jobtitle, "", class: 'form-control', placeholder: 'Enter job title' %>
                  </div>

                  <div class="form-group hidden-form">
                      <%= label_tag 'Status *' %><br />
                      <%= text_field_tag :status, "applied", class: 'form-control' %>
                  </div>

                  <div class="form-group">
                      <%= label_tag 'Link to job offer' %><br />
                      <%= url_field_tag :joboffer_link, "", class: 'form-control', placeholder: 'Enter link' %>
                  </div>
                  <div class="form-group">
                      <%= label_tag 'Job offer description' %><br />
                      <%= text_area_tag :joboffer_description, "", class: 'form-control', placeholder: 'Enter a description or copy-paste the job offer', size: "20x3"  %>
                  </div>
                  <div class="form-group text-center">
                      <%= label_tag '' %><br />
                      <%= submit_tag "Add new application", class:"btn btn-itmeo mt-3" %>
                  </div>
                  <% end %>
              </div> <!-- end card-body -->
          </div>
          <!-- end card-body -->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!--end modal -->
  <!-- beginning modal -->
<div id="new-modal-in_progress" class="modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="card-black-form">
              <!-- Title -->
              <div class="card-black-form-header pt-4 pb-4 text-center">
                <h4 style="color:white">Add Application</h4>
              </div>
              <!-- End Title -->

              <div class="card-body p-4">

                  <%= form_tag url_for(action: 'create'), method: "post" do %>
                  <div class="form-group">
                      <%= label_tag 'Company *' %><br />
                      <%= text_field_tag :company_name, "", class: 'form-control', placeholder: 'Enter company name' %>
                  </div>
                  <div class="form-group">
                      <%= label_tag 'Job title *' %><br />
                      <%= text_field_tag :jobtitle, "", class: 'form-control', placeholder: 'Enter job title' %>
                  </div>

                  <div class="form-group hidden-form">
                      <%= label_tag 'Status *' %><br />
                      <%= text_field_tag :status, "in_progress", class: 'form-control' %>
                  </div>

                  <div class="form-group">
                      <%= label_tag 'Link to job offer' %><br />
                      <%= url_field_tag :joboffer_link, "", class: 'form-control', placeholder: 'Enter link' %>
                  </div>
                  <div class="form-group">
                      <%= label_tag 'Job offer description' %><br />
                      <%= text_area_tag :joboffer_description, "", class: 'form-control', placeholder: 'Enter a description or copy-paste the job offer', size: "20x3"  %>
                  </div>
                  <div class="form-group text-center">
                      <%= label_tag '' %><br />
                      <%= submit_tag "Add new application", class:"btn btn-itmeo mt-3" %>
                  </div>
                  <% end %>
              </div> <!-- end card-body -->
          </div>
          <!-- end card-body -->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!--end modal -->