<div class="container bg-light-grey">

	<!--Start part of tabs application && contact-->
	<div class="d-block d-sm-none">
		<!--visible only on XS-->
		<div class="container p-3">
			<div class="row">
				<div class="col text-center">
					<ul class="nav nav-pills bg-nav-pills nav-justified">
						<li class="nav-item">
							<a href="#home1" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
								<span class="d-none d-lg-block">Application</span>
							</a>
						</li>
						<li class="nav-item">
							<%= link_to application_contacts_path(@application), class: 'nav-link rounded-0 ', data: { 'data-toggle' => 'tab'} do %>
							<span class="d-none d-lg-block">Contacts (
								<%=@application.contacts.count%>)</span>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--End part of tabs application && contact-->

	<!-- start page title -->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box">
				<h2 class="text-center display-5 index-title">
					<%= @application.position %> at
					<%= @application.company_name%>
				</h2>
			</div>
		</div>
	</div>
	<!-- end page title -->


	<!--Start part NEXT STEPS-->
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<div class="tasks nextsteps-userview">
					<h5 class="mt-0 task-header next-step-header bg-primary">MY NEXT STEPS </h5>
					<%if @application.has_no_next_step%>
					<div>
						<h5 class="text-primary text-center m-4">No next step... <br><br> It may be time for a follow-up email?</h5>
					</div>
					<%end%>
					<div id="task-list-one">

						<!-- Task Item -->
						<% @next_steps.each do |next_step| %>

						<% unless next_step.status == true%>

						<div class="card mb-0" id="card-step-<%=next_step.id%>">
							<div class="card-body p-3">
								<div class="row">
									<div class="col">
										<div class="row justify-content-center">
											<span class="badge step-category-show <%= 'badge-success' if next_step.category == 'interview' %><%= 'badge-warning' if next_step.category == 'phone interview' %><%= 'badge-danger' if next_step.category == 'follow-up' %>">
												<%= next_step.category %>
											</span>
											<small class=" badge step-date-show d-flex align-items-center <%= 'badge-success-lighten' if next_step.category == 'interview' %><%= 'badge-warning-lighten' if next_step.category == 'phone interview' %><%= 'badge-danger-lighten' if next_step.category == 'follow-up' %>">
												<% unless next_step.date == nil %>
												<%= next_step.date.strftime '%a %m/%d' %>
												<% end %>
											</small>
										</div>
										<!--end of row -->

										<% unless next_step.title === "" && next_step.description === ""  %>
										<div class="row">


											<div class="col step-col-show">

												<% unless next_step.title === "" %>
												<strong>
													<%= next_step.title %> </strong> <br>
												<% end %>

												<% unless next_step.description === "" %>
												<%= next_step.description %>
												<% end %>

											</div> <!-- end of col -->
										</div> <!-- end of row -->
										<% end %>
									</div> <!-- end of col -->

									<div class="col-3 d-flex align-items-center justify-content-around">
										<i class="fas fa-edit" data-toggle="modal" data-target="#update-next_step-modal-<%= next_step.id %>"></i>
										<%= check_box_tag "checkbox-step-#{next_step.id}" , 'status', false , data: {remote: true, url: validate_application_step_path(@application, next_step), method: :patch, :confirm => 'This will validate your step and move it to the card "Notes". Are you sure you want to proceed ?'}, class:"checkbox-step" %>
									</div>
								</div>
								<!-- end main-row -->

							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
						<%end %>

						<!---------------------------------- MODAL UPDATE NEXT STEP----------------------------------->


						<div id="update-next_step-modal-<%= next_step.id %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">
										<div class="text-center mt-2 mb-4">
											<h3> Update this step</h3>
											<i class="fas fa-stopwatch"></i>
										</div>

										<%= form_tag(application_step_path(@application, next_step), method: "put", class: 'pl-3 pr-3') do %>

										<div class="form-group">
											<%= label_tag 'Date *' %><br />
											<%= date_field_tag :date, next_step.date, class: 'form-control' %>
										</div>

										<div class="form-group">
											<%= label_tag(:category, "Category") %>
											<%= select_tag "category", "<option>interview</option><option>phone interview</option><option>follow-up</option><option>application sent</option>".html_safe, class: 'custom-select' %>
										</div>


										<div class="form-group">
											<%= label_tag(:title, "Title") %>
											<%= text_field_tag :title, next_step.title, class: 'form-control', placeholder: 'Enter the title' %>
										</div>

										<div class="form-group">
											<%= label_tag 'Description' %><br />
											<%= text_area_tag :description, next_step.description, class: 'form-control', placeholder: 'Describe the step here' %>
										</div>

										<div class="form-group text-center">

											<%= submit_tag "Update", class: "btn btn-primary", style:"margin-right:20px" %>
											<%= link_to application_step_path(@application, next_step), method: :delete do %>

											<button type="button" class="btn btn-danger" style="margin-left: 20px;">Delete</button>
											<% end %>



										</div>

										<% end %>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->


						<!------------------------------------------------------------------------------------------------------------>


						<% end %>
						<!-- Task Item End -->

						<div class="container text-center">
							<%= link_to "Add step", new_application_step_path(@application), class: 'btn btn-primary btn-sm mt-3' %>
						</div>
					</div>
					<!-- end company-list-1-->
				</div>
			</div>

			<!--End part NEXT STEPS-->


			<!--Start part NOTES-->

			<div class="col-12 col-lg-8">
				<div id="accordion" class="custom-accordion mb-4">
					<div class="card">
						<div class="card-header" id="headingOne">
							<a class="custom-accordion-title d-block pt-2 pb-2" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
							 aria-controls="collapseOne">

								<h5 class="text-muted font-weight-normal mt-0 ">NOTES </h5>
							</a>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<div class="row align-items-center">

									<div class="edit-notes w-100">
										<%= form_tag url_for(action: 'update_notes'), method: "put", remote: true do %>
										<div class="form-group text-edit-notes">
											<%= text_area_tag :notes, @application.notes, class: 'form-control', placeholder: 'write notes', rows: 8  %>
										</div>
										<div class="form-group save-changes">
											<%= submit_tag "Save changes", class:"btn btn-primary btn-alert-success" %>
										</div>
										<% end %>
									</div>

								</div>

							</div>
							<!-- end card-body -->
						</div>

					</div>
					<!-- end card-->
				</div>
			</div>
			<!-- end col -->
		</div>
		<!-- end row-->
	</div>
	<!-- end container-->




	<!--Start part JOB DETAILS-->
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-12">

								<h5 class="text-muted mt-0 text-truncate task-header">
									<span> JOB DETAILS </span>
									<span>
										<button type="button" class="btn btn-light btn-edit-job-details" data-toggle="modal" data-target="#edit-job-details-modal"><i
											 class="material-icons">edit</i></button>
									</span>
								</h5>

								<div id="collapse-job-details" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
									<hr>
									<div class="card-body job-details">
										<%if @application.has_no_joboffer_details == true %> <a> You can keep here the link and/or description of
											this job offer.<br></a>
										<%else %>
										<h5 class="text-primary">
											<a href=' <%=@application.joboffer_link%>'>Link of application</a>
										</h5>
										<%= @application.joboffer_link %><br><br>
										<h5 class="text-primary"> Description </h5>
										<%= simple_format(@application.joboffer_description) %>
									</div>
									<%end %>
								</div>

							</div>
							<!-- end row-->
						</div>
						<!-- end card -->
					</div>
				</div>
			</div>
			<%= render "edit_job_details_modal.html.erb" %>
			<!--End part JOB DETAILS-->


			<!--Start part CONTACTS -->

			<div class="container ">
				<div class="row align-items-center">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-12">
										<h5 class="text-muted mt-0 text-truncate task-header">
											<span> CONTACTS </span>
											<span>
												<button type="button" class="btn btn-light btn-new-contact" data-toggle="modal" data-target="#create-contact-modal">Add</button>
											</span>
										</h5>

										<div id="collapse-contact" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">


											<div class="card-body">

												<%if @application.contacts.count == 0 %>
												<a> No contact saved for now. <a>
														<%else%>

														<div class="table-sm">

															<table class="table table-sm table-centered mb-0">
																<thead>
																	<tr>
																		<th>Name</th>
																		<th>Position</th>
																		<th>Phone number</th>
																		<th>Email</th>
																	</tr>
																</thead>
																<tbody>

																	<% @application.contacts.each do |contact| %>

																	<tr>
																		<td>
																			<%= contact.first_name %>
																			<%= contact.last_name %>
																		</td>
																		<td>
																			<%= contact.position %>
																		</td>
																		<td>
																			<%= tel_to contact.phone do %>

																			<i class="fas fa-phone link-icon-sm"></i>
																			<p class="link-text-lg">
																				<%= contact.phone %>
																			</p>

																			<% end %>

																		</td>
																		<td>
																			<%= mail_to(contact.email) do %>

																			<i class="fas fa-envelope link-icon-sm"></i>
																			<p class="link-text-lg">
																				<%= contact.email %>
																			</p>
																			<% end %>
																		</td>
																		<td>
																			<i class="fas fa-edit" data-toggle="modal" data-target="#update-contact-modal-<%= contact.id %>"></i>
																		</td>
																	</tr>
																	<%= render "update_contact_modal.html.erb", contact: contact %>
																	
																	<% end %>

																</tbody>
															</table>
														</div> <!-- end table-responsive-->
														<%end%>
											</div> <!-- end card body-->

										</div>
										<!-- end row-->
									</div>
									<!-- end card-body -->
								</div>
								<!-- end card -->
							</div>
						</div>
					</div>
					<%= render "new_contact_modal.html.erb" %>
					
					


					<!--End part CONTACTS-->


					<!--Start part button archive-->
					<div class="container text-center p-3">
						<%= link_to "Archive Application", archive_application_path(@application), method: 'GET', class: 'btn btn-light btn-sm ml-3' %>
					</div>
					<!--End part button archive-->
				</div>
			</div>
		</div>
	</div>

</div>