<!--Start part of tabs application && contact-->
<div class="d-block d-sm-none">
	<!--visible only on XS-->
	<div class="container p-3">
		<div class="row">
			<div class="col text-center">
				<ul class="nav nav-pills bg-nav-pills nav-justified">
					<li class="nav-item">
						<a href="#home1" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
							<span class="d-none d-lg-block">Application</span>
						</a>
					</li>
					<li class="nav-item">
						<%= link_to application_contacts_path(@application), class: 'nav-link rounded-0 ', data: { 'data-toggle' => 'tab'} do %>
						<span class="d-none d-lg-block">Contacts (
							<%=@application.contacts.count%>)</span>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--End part of tabs application && contact-->

<!-- start page title -->
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<h2 class="text-center display-5 index-title text-transparent-black">
				<%= @application.position %> at
				<%= @application.company_name%>
			</h2>
		</div>
	</div>
</div>
<!-- end page title -->


<!--Start part NEXT STEPS-->
<div class="container">
	<div class="row">
		<div class="col-12 col-lg-4">
			<div class="tasks nextsteps-userview">

				<h5 class="mt-0 task-header next-step-header bg-primary">MY PROCESS </h5>
				<%if @application.has_no_next_step %>
				<div>
					<h5 class="text-white text-center m-4">No next step... <br><br> It may be time for a follow-up email?</h5>
				</div>
				<%end%>
				<div id="task-list-one">

					<!-- Task Item -->
					<% @next_steps.each do |next_step| %>


					<div class="card mb-0" id="card-step-<%=next_step.id%>">
						<div class="card-body p-3">
							<div class="row">
								<div class="col">
									<div class="row justify-content-center">
										<span class="badge step-category-show <%= 'badge-success' if next_step.category == 'interview' %><%= 'badge-warning' if next_step.category == 'phone interview' %><%= 'badge-danger' if next_step.category == 'follow-up' %>">
											<%= next_step.category %>
										</span>
										<small class=" badge step-date-show d-flex align-items-center <%= 'badge-success-lighten' if next_step.category == 'interview' %><%= 'badge-warning-lighten' if next_step.category == 'phone interview' %><%= 'badge-danger-lighten' if next_step.category == 'follow-up' %>">
											<% unless next_step.date == nil %>
											<%= next_step.date.strftime '%a %m/%d' %>
											<% end %>
										</small>
									</div>
									<!--end of row -->

									<% unless next_step.title === "" && next_step.description === ""  %>
									<div class="row">

										<div class="col step-col-show">

											<% unless next_step.title === "" %>
											<strong>
												<%= next_step.title %> </strong> <br>
											<% end %>

											<% unless next_step.description === "" %>
											<%= next_step.description %>
											<% end %>

										</div> <!-- end of col -->
									</div> <!-- end of row -->
									<% end %>
								</div> <!-- end of col -->

								<div class="col-3 d-flex align-items-center justify-content-around">
									<i class="fas fa-edit" data-toggle="modal" data-target="#update-next_step-modal-<%= next_step.id %>"></i>
									<%= check_box_tag "checkbox-step-#{next_step.id}" , 'status', false , data: {remote: true, url: validate_application_step_path(@application, next_step), method: :patch, :confirm => 'This will validate your step and move it to the card "Notes". Are you sure you want to proceed ?'}, class:"checkbox-step" %>
								</div>
							</div>
							<!-- end main-row -->

						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->

					<%= render "edit_step_modal.html.erb", next_step: next_step %>

					<% end %>

					<!-------------- Start Card 'steps done' ---------------------->

					<div class="card mb-0" id="past_steps_card" %>
						<% unless @steps_done.count == 0 %>
						<div class="card-body p-3">

							<h5>STEPS DONE</h5>
							<% @steps_done.each do |step| %>
							<a>
								<%= step.category%> -
								<%= step.date%> </a> <br>
							<% end %>

						</div>
						<% end %>
					</div>

					<!-------------- End Card 'steps done' ---------------------->




					<!-- Task Item End -->

					<div class="container text-center">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-step-modal">Add step</button>
					</div>
				</div>
				<!-- end company-list-1-->
			</div>
		</div>

		<!--End part NEXT STEPS-->


		<!--Start part NOTES-->

		<div class="col-12 col-lg-8">
			<div id="accordion">
				<div class="bg-note">
					<div class="card bg-note" id="headingOne">
						<a class="custom-accordion-title d-block pt-2 pb-2" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
						 aria-controls="collapseOne">
							<h5 class="text-white font-weight-normal mt-0 text-center ">NOTES </h5>
						</a>
					</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<div class="row align-items-center">

								<div class="edit-notes w-100">
									<%= form_tag url_for(action: 'update_notes'), method: "put", remote: true do %>
									<div class="form-group text-edit-notes">
										<%= text_area_tag :notes, @application.notes, class: 'form-control', placeholder: 'Click here to write your notes then save your changes', rows: 8  %>
									</div>
									<div class="form-group save-changes">
										<%= submit_tag "Save changes", class:"btn btn-itmeo btn-alert-success" %>
									</div>
									<% end %>
								</div>

							</div>

						</div>
						<!-- end card-body -->
					</div>

				</div>
				<!-- end card-->
			</div>
		</div>
		<!-- end col -->
	</div>
	<!-- end row-->
</div>
<!-- end container-->
<%= render "new_step_modal.html.erb" %>

<!--Start part JOB DETAILS-->
<div class="container app-show-bottom">
	<div class="row align-items-center">
		<div class="col-12">
			<div class="card bg-note">
				<h5 class="text-white mt-0 task-header">
					<span class="job-details"> JOB DETAILS </span>
					<span>
						<button type="button" class="btn btn-itmeo btn-edit-job-details" data-toggle="modal" data-target="#edit-job-details-modal"><i class="fas fa-pen"></i></button>
					</span>
				</h5>

				<div class="card-body collapse-job-details">
					<%if @application.has_no_joboffer_details == true %> <a> You can keep here the link and/or description of
						this job offer.<br></a>
					<%else %>
					<h5 class="text-transparent-black">Link of application</h5>
					<%= link_to @application.joboffer_link, @application.joboffer_link,:target => "_blank" %><br><br>
					<h5 class="text-transparent-black"> Description </h5>
					<%= simple_format(@application.joboffer_description) %>
				</div>
				<%end %>
			</div> <!-- end card-body-->
		</div> <!-- end card-->
	</div> <!-- end col-->
</div> <br />
<%= render "edit_job_details_modal.html.erb" %>

<!--End part JOB DETAILS-->

<!--Start part CONTACTS -->

<div class="container ">
	<div class="row align-items-center">
		<div class="col-12">
			<div class="card bg-note">
				<div class=" bg-note">
					<div class="row align-items-center">
						<div class="col-12">
							<h5 class="text-white mt-0 task-header">
								<span class="contact"> CONTACTS </span>
								<span>
									<button type="button" class="btn btn-itmeo btn-new-contact" data-toggle="modal" data-target="#create-contact-modal"><i class="fas fa-plus"></i></button>
								</span>
							</h5>
                
							<div id="collapse-contact" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">

									<%if @application.contacts.count == 0 %>
									<a> No contact saved for now. <a>
											<%else%>

											<div class="table-sm">

												<table class="table table-sm table-centered mb-0">
													<thead>
														<tr>
															<th>Name</th>
															<th>Position</th>
															<th>Phone number</th>
															<th>Email</th>
														</tr>
													</thead>
													<tbody>

														<% @application.contacts.each do |contact| %>

														<tr>
															<td>
																<%= contact.first_name %>
																<%= contact.last_name %>
															</td>
															<td>
																<%= contact.position %>
															</td>
															<td>
																<%= tel_to contact.phone do %>

																<i class="fas fa-phone link-icon-sm"></i>
																<p class="link-text-lg">
																	<%= contact.phone %>
																</p>

																<% end %>

															</td>
															<td>
																<%= mail_to(contact.email) do %>

																<i class="fas fa-envelope link-icon-sm"></i>
																<p class="link-text-lg">
																	<%= contact.email %>
																</p>
																<% end %>
															</td>
															<td>
																<i class="fas fa-edit" data-toggle="modal" data-target="#update-contact-modal-<%= contact.id %>"></i>
															</td>
														</tr>
														<%= render "update_contact_modal.html.erb", contact: contact %>

														<% end %>

													</tbody>
												</table>
											</div> <!-- end table-responsive-->
											<%end%>
								</div> <!-- end card body-->

							</div>
							<!-- end row-->
						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->
				</div>
			</div>
		</div>
		<%= render "new_contact_modal.html.erb" %>




		<!--End part CONTACTS-->


		<!--Start part button archive-->
		<div class="container text-center p-3">
			<%= link_to "Archive Application", archive_application_path(@application), method: 'GET', class: 'btn btn-itmeo btn-sm ml-3' %>
		</div>
		<!--End part button archive-->
	</div>
</div>
</div>
</div>