

        <!-- Begin page -->
        <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title text-transparent-black text-center">
                                    USER PROFILE
                                    </h4> 
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 


                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Profile -->
                                <div class="card bg-transparentblack">
                                    <div class="card-body profile-user-box">

                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="media">
                                                    
                                                    <div class="media-body">

                                                        <h4 class="mt-1 mb-1 text-white"><%=current_user.email%> <%  if current_user.is_admin == true %> (Admin profile) <% end %></h4> 
                                                        <p class="font-13 text-white-50"> Member since: <%=current_user.created_at%> </p>

                                                    </div> <!-- end media-body-->
                                                </div>
                                            </div> <!-- end col-->

                                            <div class="col-sm-4">
                                                <div class="text-center mt-sm-0 mt-3 text-sm-right">
                                                    <%= link_to "Edit my account info", edit_user_registration_path, class: "btn btn-itmeo" %>
                                                </div>
                                            </div> <!-- end col-->
                                        </div> <!-- end row -->

                                    </div> <!-- end card-body/ profile-user-box-->
                                </div><!--end profile/ card -->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-md-4">
                                <!-- Personal-Information -->
                                <div class="card-black upload-item">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-3">YOUR FEEDBACK MATTERS</h4>

                                        <hr/>

                                        <div class="text-left">
                                            <p><span>Should you encounter any problems while using our platform, please write to our team at <a class="text-white" href="mailto:liobe.malogo@gmail.com">liobe.malogo@gmail.com </a></span></p>
                                    </div>
                                    </div>
                                </div>
                                <!-- Personal-Information -->

                            </div> <!-- end col-->

                            <div class="col-md-8">



                                <div class="row">
                                    <div class="col-sm-4 upload-item">
                                        <div class="card-black tilebox-one">
                                            <div class="card-body">
                                                <h6 class=" text-uppercase mt-0">Applications</h6>
                                                <h2 class="m-b-20"><%=current_user.applications.count%></h2>
                                                <%= link_to "Add Application", new_application_path, class: "btn btn-itmeo" %>
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->

                                    <div class="col-sm-4 upload-item">
                                        <div class="card-black tilebox-one">
                                            <div class="card-body">
                                                <h6 class=" text-uppercase mt-0">Steps</h6>
                                                <h2 class="m-b-20"><span><%=current_user.steps.count%></span></h2>
                                                <%= link_to "My dashboard", root_path, class: "btn btn-itmeo" %>
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->

                                    <div class="col-sm-4 upload-item">
                                        <div class="card-black tilebox-one">
                                            <div class="card-body">
                                                <h6 class=" text-uppercase mt-0">Archived applications</h6>
                                                <h2 class="m-b-20"><%=@archived.count%></h2>
                                                <%= link_to "View archived", archived_index_path, class: "btn btn-itmeo" %>
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->

                                </div>
                                <!-- end row -->      

                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->


                    <!--------------------------- Upload resume---------------------------->

                    <div class="row justify-content-start">
                        <div class="col-sm-12 col-card-download">
                            
                            <div class="card-black">
                                <div class="card-body">

                                    <%if @user.resume.attached?%>

                                        <div class="row justify-content-center text-center">
                                                <h3> So cool ! Your CV is already uploaded <br> <small>Download your resume by clicking on the icon below</small> </h3>
                                        </div>

                                        <div class="row justify-content-center">

                                                     <%= link_to url_for(@user.resume) do %> <br>
                                                    <i class="fas fa-cloud-download-alt fa-3x"></i>
                                                    <% end %>
                                        </div>
                                        <div class="row justify-content-center upload-item text-center">
                                                <h3> Want to make an update ? <br> <small>Upload your new resume by clicking on the icon below </small></h3>
                                        </div>

                                        <div class="row justify-content-center upload-item">
                                                    <%= form_tag user_resumes_path(@user), multipart: true do %>
                                                    <div class="image-upload d-flex justify-content-center">
                                                       <label for="file-input">
                                                            <i class="fas fa-upload fa-3x upload-item"></i>
                                                        </label>
                                                         <%= file_field_tag :resume, id:"file-input" %>
                                                    </div>
                                                      <%= submit_tag "Update your resume", class:"btn btn-itmeo upload-item" %>
                                                    <% end %>
                                        </div>


                                                <%else %>

                                        <div class="row justify-content-center d-flex upload-item">

                                                    <h3 class="text-center">You don't have your CV registered yet.<br> Click on the icon to upload it ! <br> <small>Upload your new resume by clicking on the icon below </small> </h3>
                                        </div>

                                        <div class="row justify-content-center upload-item">
                                                    <%= form_tag user_resumes_path(@user), multipart: true do %> 
                                                    <div class="image-upload d-flex justify-content-center">
                                                       <label for="file-input">
                                                            <i class="fas fa-upload fa-2x upload-item"></i>
                                                        </label>
                                                         <%= file_field_tag :resume, id:"file-input" %>
                                                    </div>
                                                      <%= submit_tag "Upload your resume", class:"btn btn-itmeo upload-item" %>
                                                    <% end %>

                                        </div>

                                    <%end%>

                                </div>
                                <!-- end card body -->

                            </div>
                            <!-- end card black -->

                        </div>
                         <!-- end col -->

                    </div>
                     <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->