

        <!-- Begin page -->
        <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">
                                    <%  if current_user.is_admin == true %>
                                        <span class="badge-danger"> Admin</span> 
                                    <% end %>
                                    Profile
                                    </h4> 
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 


                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Profile -->
                                <div class="card bg-transparentblack">
                                    <div class="card-body profile-user-box">

                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="media">
                                                    <span class="float-left m-2 mr-4"><img src="assets/images/users/avatar-2.jpg" style="height: 40px;" alt="" class="rounded-circle img-thumbnail"></span>
                                                    <div class="media-body">

                                                        <h4 class="mt-1 mb-1 text-white"><%=current_user.email%></h4>
                                                        <p class="font-13 text-white-50"> Member since: <%=current_user.created_at%> </p>

                                                    </div> <!-- end media-body-->
                                                </div>
                                            </div> <!-- end col-->

                                            <div class="col-sm-4">
                                                <div class="text-center mt-sm-0 mt-3 text-sm-right">
                                                    <%= link_to "Edit my account info", edit_user_registration_path, class: "btn btn-itmeo" %>
                                                </div>
                                            </div> <!-- end col-->
                                        </div> <!-- end row -->

                                    </div> <!-- end card-body/ profile-user-box-->
                                </div><!--end profile/ card -->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-md-4">
                                <!-- Personal-Information -->
                                <div class="card-black">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-3">MY INFORMATION</h4>

                                        <hr/>

                                        <div class="text-left">
                                            <p><strong>Full Name :</strong> <span class="ml-2"> <%=current_user.full_name%> </span></p>

                                            <p><strong>Email :</strong> <span class="ml-2"> <%=current_user.email%> </span></p>

                                            <p><strong>Location :</strong> <span class="ml-2"> <%=current_user.country%> </span></p>

                                        </div>
                                    </div>
                                </div>
                                <!-- Personal-Information -->

                                

                                

                            </div> <!-- end col-->

                            <div class="col-md-8">



                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card-black tilebox-one">
                                            <div class="card-body">
                                                <h6 class=" text-uppercase mt-0">Applications</h6>
                                                <h2 class="m-b-20"><%=current_user.applications.count%></h2>
                                                <%= link_to "Add Application", new_application_path, class: "btn btn-itmeo" %>
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->

                                    <div class="col-sm-4">
                                        <div class="card-black tilebox-one">
                                            <div class="card-body">
                                                <h6 class=" text-uppercase mt-0">Steps</h6>
                                                <h2 class="m-b-20"><span><%=current_user.steps.count%></span></h2>
                                                <%= link_to "My dashboard", root_path, class: "btn btn-itmeo" %>
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->

                                    <div class="col-sm-4">
                                        <div class="card-black tilebox-one">
                                            <div class="card-body">
                                                <h6 class=" text-uppercase mt-0">Archived applications</h6>
                                                <h2 class="m-b-20"><%=@archived.count%></h2>
                                                <%= link_to "View archived", archived_index_path, class: "btn btn-itmeo" %>
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->

                                </div>
                                <!-- end row -->


                                

                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->
