<div class="auth-fluid bg-image-lp">
<%= render "layouts/lp_image_content" %>
	<!--Auth fluid left content -->
	<div class="auth-fluid-form-box">
		<div class="align-items-center d-flex h-100">
			<div class="card-body">
					<!-- title-->
					<h4 class="mt-0">Edit your password</h4>
					<p class="text-muted mb-4">Enter your new password to access your account!</p>
  
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %><%= render "devise/shared/error_messages", resource: resource %><%= f.hidden_field :reset_password_token %>
						<div class="form-group">
              <%= f.label :password, "New password" %>
							<% if @minimum_password_length %>
							<em>(<%= @minimum_password_length %> characters minimum)
							</em>
							<br /><% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Your new password" %>
						</div>
						<div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password" %>
							<br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
						</div>
						<br />
						<div class="actions">
            <%= f.submit "Edit password", class: "btn btn-itmeo" %>
						</div><% end %>
						 <br />
            <%= render "devise/shared/links" %>
						<%= render "layouts/lpfooter" %>
          </div>
        </div>
      </div>
    
  </div>
</div>
