<div class="auth-fluid bg-image-lp">
	<!--Auth fluid left content -->
	<div class="auth-fluid-form-box">
		<div class="align-items-center d-flex h-100">
			<div class="card-body">
				<!-- Logo -->
				<div class="auth-brand text-center text-lg-left">
					<a href="index.html">
						<span>
              <h3 class="border border-info text-info rounded mb-0 pt-1 pb-1 pl-2 pr-2">My Career Manager</h3>
							</span>
						</a>
					</div>
					<!-- title-->
					<h4 class="mt-0">Forgot your password?</h4>
					<p class="text-muted mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>
  
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your Email" %>
               </div>
              <br />
              <div class="actions">
                <%= f.submit "Reset Password", class: "btn btn-itmeo" %>
              </div>
            <% end %>
            <br /><%= render "devise/shared/links" %>
            <%= render "layouts/lpfooter" %>
          </div>
        </div>
      </div>
    <%= render "layouts/motto" %>
  </div>
</div>

