<!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title text-center">Forgot your password?</h4>
                                </div>
                            </div>
                        </div>     
 <!-- end page title --> 
<div class="container pt-lg">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow zindex-100">
        <div class="card-body px-md-5 py-5">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your Email" %>
            </div>
          <br />
            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
            </div>
          <% end %>
          <br />
          <%= render "devise/shared/links" %>


        </div>
      </div>
    </div>
  </div>
</div>
