
            <!--Start part of btn application && contact-->
                <div class="container p-3">
                    <div class="row">
                        <div class="col text-center">

                            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">

                                <li class="nav-item">
                                    <%= link_to application_path(@application), class: 'nav-link rounded-0', data: { 'data-toggle' => 'tab'} do %>
                                        <span class="d-none d-lg-block">Application</span>
                                    <% end %>
                                </li>

                                <li class="nav-item">
                                        <%= link_to application_contacts_path, class: 'nav-link rounded-0 active', data: { 'data-toggle' => 'tab'} do %>
                                        <span class="d-none d-lg-block">Contact</span>
                                        <% end %>
                                    <!--</a> -->
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

            <!--Start part of btn application && contact-->
    <div class="container" >
        <div class="row">
            <div class="col">
                <div class="card">
                     <div class="card-body">
                        <div class="table-sm">

                            <table class="table table-sm table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Phone number</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>

        							<% @contacts.each do |contact| %>

                                        <tr>
                                            <td> <%= contact.first_name %> <%= contact.last_name %> </td>
                                            <td> <%= contact.position %></td>
                                            <td>
                                            	<%= tel_to contact.phone do %>

        										    <i class="fas fa-phone link-icon-sm"></i>
                                                    <p class="link-text-lg"> <%= contact.phone %></p> 
                                                   
                                            	<% end %>

                                        	</td>
                                            <td> <%= mail_to(contact.email) do %>

                                            	<i class="fas fa-envelope link-icon-sm"></i> 
                                                <p class="link-text-lg"> <%= contact.email %></p> 
                                            	<% end %>
                                            </td>
                                        </tr>

        							<% end %>

                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                    </div> <!-- end card body-->
           <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal" style="margin-bottom: 20px;">Create a contact</button>
        </div>
                </div> <!-- end card -->
             </div> <!-- end col -->
        </div> <!-- end row  -->

 
    </div>  <!-- end container  -->

    <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="text-center mt-2 mb-4">
                                                        <i class="fas fa-user-tie fa-3x"></i>
                                                        </div>

                                                        <%= form_tag(application_contacts_path(@application), method: "post", class: 'pl-3 pr-3') do %>

                                                            <div class="form-group">
                                                              <%= label_tag(:first_name, "First name") %>
                                                              <%= text_field_tag :first_name, "", class: 'form-control', placeholder: 'Enter your first name' %>
                                                            </div>

                                                            <div class="form-group">
                                                               <%= label_tag(:last_name, "Last name") %>
                                                              <%= text_field_tag :last_name, "", class: 'form-control', placeholder: 'Enter your last name' %>
                                                            </div>

                                                            <div class="form-group">
                                                              <%= label_tag(:position, "Position") %>
                                                              <%= text_field_tag :position, "", class: 'form-control', placeholder: 'Enter your position'%>
                                                            </div>

                                                            <div class="form-group">
                                                               <%= label_tag(:email, "Email") %>
                                                              <%= text_field_tag :email, "", class: 'form-control', placeholder: 'Enter your email' %>
                                                            </div>

                                                            <div class="form-group">
                                                               <%= label_tag(:phone, "Phone") %>
                                                              <%= text_field_tag :phone, "", class: 'form-control', placeholder: 'Enter your phone' %>
                                                            </div>

                                                        <div class="form-group text-center">
                                                          <%= submit_tag "Create", class: "btn btn-primary" %>
                                                        </div>

                                                        <% end %>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->