<div class="wrapper">
    <!--Start part of btn application && contact-->
    <div class="container p-3">
        <div class="row">
            <div class="col text-center">

                <ul class="nav  bg-note nav-justified ">

                    <li class="nav-item">
                        <%= link_to application_path(@application), class: 'nav-link rounded-0', data: { 'data-toggle' => 'tab'} do %>
                        <span class="d-none d-lg-block">Application</span>
                        <% end %>
                    </li>

                    <li class="nav-item bg-contact">
                        <%= link_to application_contacts_path, class: 'nav-link rounded-0 active', data: { 'data-toggle' => 'tab'} do %>
                        <span class="d-none d-lg-block">Contacts (
                            <%=@application.contacts.count%>)</span>
                        <% end %>
                        <!--</a> -->
                    </li>

                </ul>

            </div>
        </div>
    </div>

    <!--Start part of btn application && contact-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-note">
                    <div class="card-body">

                        <div class="table-sm">

                            <table class="table table-sm table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Phone number</th>
                                        <th>Email</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="row-contact-container">

                                    <%if @application.contacts.count == 0 %>
                                        <tr id="row-no-contact"> 
                                            <td colspan="5" class="message-no-contact"> No contact saved for now. </td> 
                                        </tr>
                                    <%else%>


                                        <% @application.contacts.each do |contact| %>

                                        <%= render "contacts/new_line_contact", contact: contact %>

                                        <% end %>

                                    <%end%>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                    </div> <!-- end card body-->
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-itmeo" data-toggle="modal" data-target="#create-contact-modal"
                            style="margin-bottom: 20px;">Add Contact</button>
                    </div>
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row  -->


    </div> <!-- end container  -->
</div>



<!---- MODAL CREATION CONTACT------------->

<%= render "applications/new_contact_modal.html.erb" %>