
//------------------- CONTENT REPLACEMENT IN THE TABLE CELLS-------------------------------------------

$("#line-contact-<%= @contact.id %> td:nth-child(1)").html("<%= @contact.first_name %>" + " " + "<%= @contact.last_name %>")
$("#line-contact-<%= @contact.id %> td:nth-child(2)").html("<%= @contact.position %>")

var isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;

if (isMobile) {

    console.log("salut le mobile")

    if ( $("#line-contact-<%= @contact.id %> td:nth-child(3)").children().length == 0 ) {

	$("#line-contact-<%= @contact.id %> td:nth-child(3)").append("<a href='<%= @contact.phone %>'></a>")
	$("#line-contact-<%= @contact.id %> td:nth-child(3) a").append("<i class='fas fa-phone link-icon-sm'></i>")

	}

	if ( $("#line-contact-<%= @contact.id %> td:nth-child(4)").children().length == 0 ) {

		$("#line-contact-<%= @contact.id %> td:nth-child(4)").append("<a href='mailto:<%= @contact.email %>'></a>")
		$("#line-contact-<%= @contact.id %> td:nth-child(4) a").append("<i class='fas fa-envelope link-icon-sm'></i>")

	}
}

else {
	console.log("salut le desktop")

	$("#line-contact-<%= @contact.id %> td:nth-child(3)").html("<%= @contact.phone %>")
	$("#line-contact-<%= @contact.id %> td:nth-child(4)").html("<%= @contact.email %>")

}








//------------------- REMOVAL OF THE MODAL ON CLICK---------------------------------------------------

$('#update-contact-modal').remove();
$('body').removeClass('modal-open')
$('.modal-backdrop').remove()


//------------------- -----------------NOTIFICATION---------------------------------------------------

$.NotificationApp.send("Done !", "Your contact has been updated", 'top-right', 'Background color', 'warning');
