<div class="auth-fluid bg-image-lp">


	<!--Auth fluid left content -->
	<div class="auth-fluid-form-box">
		<div class="align-items-center d-flex h-100">
			<div class="card-body">
					<!-- title-->
					<h4 class="mt-0">Log In</h4>
					<p class="text-muted mb-4">Enter your email address and password to access your account.</p>
					<!-- form -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-group">
          <%= f.label :email %>
						<br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your Email" %>
					</div>
					<div class="form-group">
          <%= f.label :password %>
						<br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Your Password" %>
					</div>
          <% if devise_mapping.rememberable? %>
					<div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
					</div><% end %>
					<div class="actions"><%= f.submit "Log in to your account", class: "btn btn-itmeo" %>
					</div><% end %>
					<br /><%= render "devise/shared/links" %>
					<!-- end form-->
					<!-- Footer-->
					<%= render "layouts/lpfooter" %>
				</div>
				<!-- end .card-body -->
			</div>
			<!-- end .align-items-center.d-flex.h-100-->
		</div>
		<!-- end auth-fluid-form-box (left content)-->


<!---------RIGHT CONTENT----------------------------------------------------------------------->

		<div class="container d-flex flex-column lp-main-container">
			<div class="container d-flex justify-content-end logo-container">
				<span>
	              <h3 class="lp-logo">My Career Manager</h3>
				</span>
			</div>

			<div class="lp-title-container container d-flex justify-content-center align-items-center flex-column">

				<h2 class="lp-title mb-3 display-4">Your job search organizer</h2>

				<h3 class="lp-phrase"> Apply, organize and never miss an opportunity again</h3>

			</div>

		</div>
		<!-- end main container right side -->

<!----------------------------------------------------------------------------------------------->

</div>	

<!-- auth-fluid bg-image-lp -->


