<div class="auth-fluid bg-image-lp">
	<!--Auth fluid left content -->
	<div class="auth-fluid-form-box">
		<div class="align-items-center d-flex h-100">
			<div class="card-body">
				<!-- Logo -->
				<div class="auth-brand text-center text-lg-left">
					<a href="index.html">
						<span>
              <h3 class="border border-info text-info rounded mb-0 pt-1 pb-1 pl-2 pr-2">My Career Manager</h3>
							</span>
						</a>
					</div>
					<!-- title-->
					<h4 class="mt-0">Log In</h4>
					<p class="text-muted mb-4">Enter your email address and password to access your account.</p>
					<!-- form -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-group">
          <%= f.label :email %>
						<br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your Email" %>
					</div>
					<div class="form-group">
          <%= f.label :password %>
						<br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Your Password" %>
					</div>
          <% if devise_mapping.rememberable? %>
					<div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
					</div><% end %>
					<div class="actions"><%= f.submit "Log in to your account", class: "btn btn-itmeo" %>
					</div><% end %>
					<br /><%= render "devise/shared/links" %>
					<!-- end form-->
					<!-- Footer-->
					<%= render "layouts/lpfooter" %>
				</div>
				<!-- end .card-body -->
			</div>
			<!-- end .align-items-center.d-flex.h-100-->
		</div>
		<!-- end auth-fluid-form-box-->
		<%= render "layouts/motto" %>
		</div>
		<!-- end Auth fluid right content -->
	</div>
	<!-- end auth-fluid-->