 <body>

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card">
                            <!-- Logo-->
                            <div class="card-header pt-4 pb-4 text-center bg-primary">
                                <h4 style="color:white">Add Step</h4>
                                <h5 style="color:white">(<%=@application.position%> at <%=@application.company_name%>)</h5>
                            </div>

                            <div class="card-body p-4">

                                    <%= form_tag url_for(action: 'create'), method: "post" do %>
                                        <div class="form-group">
                                            <%= label_tag 'Date *' %><br/>
                                            <%= date_field_tag :date, @step.date, class: 'form-control' %>
                                        </div>
                                    <div class="form-group">
                                            <%= label_tag 'Type *' %><br/>
                                            <%= select_tag "category", "<option>interview</option><option>phone interview</option><option>follow-up</option><option>application sent</option>".html_safe, class: 'custom-select' %>
                                    </div>     
                                    <div class="form-group">
                                            <%= label_tag 'Title' %><br/>
                                            <%= text_field_tag :title, @step.title, class: 'form-control', placeholder: 'Write the title here' %>
                                    </div>
                                    <div class="form-group">
                                            <%= label_tag 'Description' %><br/>
                                            <%= text_area_tag :description, @step.description, class: 'form-control', placeholder: 'Describe the step here' %>
                                    </div>
                                    <div class="form-group text-center">
                                            <%= label_tag '' %><br/>
                                            <%= submit_tag "Confirm", class:"btn btn-primary" %>
                                    </div>
                                    <% end %>
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

                
              