

            <div class="content-page">
                <div class="container">

                    <!-- Start Content-->
                    <div class="container-fluid">

                         <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h2 class="page-title text-center text-transparent-black">ADMIN DASHBOARD</h2>
                                </div>
                            </div>
                        </div>
                    </div> 
                        <!-- end page title --> 


                        <!-- Starts 4 cards --> 

                        <div class="row">
        
                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0">Users</h5>
                                                <h3 class="my-2 py-1 text-white"><%= User.all.count %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0">Applications</h5>
                                                <h3 class="my-2 py-1 text-white"><%= Application.all.count %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0">Steps</h5>
                                                <h3 class="my-2 py-1 text-white"><%= Step.all.count %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0">Interviews</h5>
                                                <h3 class="my-2 py-1 text-white"><%= Step.all.to_a.select {|x| x.category == "interview"}.count %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                        </div>
                        <!-- end row -->
                        
                        <!-- End 4 cards -->




                        <!-- Start users table --> 

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3 text-white">Users</h4>

                                        <div class="table-responsive">
                                            <table class="table table-sm table-centered mb-0">
                                                <thead>
                                                    <tr class="text-white">
                                                        <th>User</th>
                                                        <th class="text-center">Applications</th>
                                                        <th class="text-center">Steps</th>
                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <%User.all.each do |user|%>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-15 mb-1 font-weight-normal text-white"><%=user.email%></h5>
                                                            <% if user.applications.count > 0 %> <span class="text-white font-13">Looking for a job as a <%=user.applications.last.position%></span><% end %>
                                                        </td>
                                                        <td class="text-center text-white"><%=user.applications.count%> </td>
                                                        <td class="text-center text-white"><%=user.steps.count%> </td>
                                                        <td class="text-center"> <%= link_to "View", admin_user_path(user), class: "btn btn-halloween" %> 
                                                            <%= link_to "Delete", admin_user_path(user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-salmon" %> 
                                                        </td>
                                                    </tr>
                                                    <%end%>

                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->  
                        </div>
                        <!-- end row-->

                        <!-- End users table --> 


        
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>