

            <div class="content-page">
                <div class="container">

                    <!-- Start Content-->
                    

                         <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h2 class="page-title text-center text-transparent-black">USER: <%=@user.email%> </h2>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
        
                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0">Subscription</h5>
                                                <h3 class="text-white my-2 py-1"><%= @user.created_at.strftime '%m/%d' %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0 text-truncate">Applications</h5>
                                                <h3 class="text-white my-2 py-1"><%= @user.applications.count %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0 text-truncate">Steps</h5>
                                                <h3 class="text-white my-2 py-1"><%= @user.steps.count %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                            <div class="col-md-6 col-xl-3">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5 class="text-white font-weight-normal mt-0 text-truncate">Next steps</h5>
                                                <h3 class="text-white my-2 py-1"><%= @user.steps.to_a.select {|x| x.date >= Date.today}.count %></h3>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->

                        </div>
                        <!-- end row -->
                        
                        <!-- end row-->


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <h4 class="header-title text-white mb-3">USER APPLICATIONS</h4>

                                        <div class="table-responsive">
                                            <table class="table table-sm table-centered mb-0">
                                                <thead class="text-white">
                                                    <tr>
                                                        <th>Application</th>
                                                        <th class="text-center">Status</th>
                                                        <th class="text-center">Steps (past and next)</th>
                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <%@applications.each do |application|%>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-15 mb-1 text-white font-weight-bold"><%=application.company_name%> - <%=application.position%></h5>
                                                            <span class="text-white font-13">Created: <%=application.created_at%></span><br>
                                                            <span class="text-white font-13">Updated: <%=application.updated_at%></span>
                                                        </td>
                                                        <td class="text-white text-center"><%=application.status%></td>
                                                        <td>
                                                          <ul class="text-white">
                                                            <%application.steps.each do |step|%>
                                                            <li><%=step.category%> on <%=step.date%></li>
                                                            <%end%>
                                                            </ul>
                                                          </td>
                                                        <td class="text-center" > 
                                                            <%= link_to "Edit", root_path, class: "btn btn-halloween" %>
                                                            <%= link_to "Delete", application_path(application), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-salmon" %> 
                                                        </td>
                                                    </tr>
                                                    <%end%>

                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->  
                        </div>
                        <!-- end row-->


        
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>
