<!-- NAVBAR PAS TERMINEE-->
<% if signed_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">

    <div class="row align-items-center"> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "My Career Manager", applications_path, class:"navbar-brand" %>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item movinglink">
            <%= link_to "Create an application", new_application_path, class:"nav-link" %>
        </li>
    </ul>
    </div>

    <div class="row justify-content-end">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >

          <ul class="navbar-nav mr-auto togglelist">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <% if user_signed_in? %> <%=current_user.email%> <%end%> <i class="material-icons">account_circle</i>
              </a> 

              <% if user_signed_in? %>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "My profile", user_path(current_user), class:"dropdown-item" %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                </div>  

 
              <% else %>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Login", user_session_path, class:"dropdown-item" %>
                  <%= link_to "Sign-up", new_user_registration_path, class:"dropdown-item" %>
                </div>    

              <% end %>
            </li>

          </ul>

        </div>

    </div>
</div>
</nav>
<% end %>