<!-- NAVBAR -->

<% if signed_in? %>
<nav class="navbar navbar-expand-lg navbar-light">

<div class="container navbar-container">

      <div class="col" > 

        <div class="row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fas fa-bars text-white"></i></span>
        </button>

        <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to applications_path do %>
        <%= image_tag "logo-mycareermanager-1lineter.png"%>  
        <%end%>
      </li>
      <li class="nav-item lg-link">
        <%= link_to "Add Application", new_application_path, class:"nav-link d-flex text-white" %>
      </li>
      <li class="nav-item lg-link">
        <% if current_user.is_admin == true %> <%= link_to "Admin Dashboard", admin_root_path, class:"nav-link d-flex text-white" %> <%end%>
      </li>
        </ul>
        </div>
      </div>

      <div id="sm-menu" class="row justify-content-end">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >

          <ul class="navbar-nav mr-auto togglelist">
             <li class="nav-item sm-link">
                <%= link_to "Create an application", new_application_path, class:"nav-link d-flex text-white" %>
            </li>
              <li class="nav-item sm-link">
                <% if current_user.is_admin == true %> <%= link_to "Admin Dashboard", admin_root_path, class:"nav-link d-flex text-white" %> <%end%>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <% if user_signed_in? %> <i class="material-icons text-white">account_circle</i><span class="navbar-email"><%=current_user.email%></span> <%end%>
              </a> 

              <% if user_signed_in? %>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "My profile", user_path(current_user), class:"dropdown-item text-white" %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item text-white" %>
                </div>  

 
              <% else %>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Login", user_session_path, class:"dropdown-item text-white" %>
                  <%= link_to "Sign-up", new_user_registration_path, class:"dropdown-item text-white" %>
                </div>    

              <% end %>
            </li>

          </ul>

        </div>
      </div>

</div>  <!-- container end -->

</nav>

<% end %>
