<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>My Career Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%= favicon_link_tag asset_path('Transport-Rocket-icon.png') %>


    <!--Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i" rel="stylesheet">
  </head>

  <body class="bg-formsandothers">

    <%= render "layouts/navbar" %>

    <!-------- Personalized Flash notification with Javascript to close them automaticaly -------->

    <% flash.each do |key, value| %>

      <div class="jq-toast-wrap top-right">
        <div class="<%= flash_class(key) %>" style="text-align: left; display: block;">
          <span class="close-jq-toast-single">×</span>
          <%= value %>
        </div>
      </div>


    <% end %>

<!-------------------------------------------------------------------------------------------------->

    <%= yield %>

    
    <%= render 'layouts/footer' %>
    
  </body>
  
  

</html>
